<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="propertyConfigurer"
           class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:config/jdbc.properties"  />
</bean>
    <!-- 数据库连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>
	
	<!-- Base DAO -->
    <bean id="baseDao" abstract="true">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- DAO -->
    <bean id="permissionDao" class="com.ht.zsy.dao.PermissionDaoImpl" parent="baseDao"/>
    <bean id="roleDao" class="com.ht.zsy.dao.RoleDaoImpl" parent="baseDao"/>
    <bean id="userDao" class="com.ht.zsy.dao.UserDaoImpl" parent="baseDao"/>

    <!-- Service -->
    <bean id="permissionService" class="com.ht.zsy.service.Impl.PermissionServiceImpl">
        <property name="permissionDao" ref="permissionDao"/>
    </bean>

    <bean id="roleService" class="com.ht.zsy.service.Impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"/>
    </bean>

    <bean id="passwordHelper" class="com.ht.zsy.service.Impl.PasswordHelper">
        <property name="algorithmName" value="md5"/>
        <property name="hashIterations" value="2"/>
    </bean>

    <bean id="userService" class="com.ht.zsy.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="passwordHelper" ref="passwordHelper"/>
    </bean>


</beans>